
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Description = "This Is The Home Page Description";
}

<h2>Home Page: here will be previews of animal species that can be navigated to with pretty effects and images
    , or maybe a preview of each web page including a species page, form submissions and a map to display data.
    </h2>

