
@{
    ViewBag.Title = "ErrorCode400";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-1">400 Bad Request</h3>
<hr />
<h3 class="display-3" style='font-size:50px;'>Your client issued a bad request, that's all we know &#128532;</h3>
