
@{
    ViewBag.Title = "ErrorCode404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-1">404 Not Found</h3>

<hr />
<h3 class="display-3" style='font-size:50px;'>Sorry, the page you're looking for can't be found &#128543;</h3>
