
@{
    ViewBag.Title = "GenericError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="display-1">Unknown Error</h3>
<hr />
<h3 class="display-3" style='font-size:50px;'>We have no idea how you got here &#128565;</h3>
